/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f6f8fa;
}

/* # UTILITY */

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  padding: 6px 10px;
  border: solid 1px currentColor;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}

.btn.btn-primary {
  background-color: #44aaed;
  color: white;
  border-color: #44aaed;
}

.btn.btn-secondary {
  background-color: white;
  color: #bbb;
  border-color: #bbb;
}

.label {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
  background-color: #aaa;
  color: white;
  font-size: 10px;
  line-height: 13px;
  border-radius: 8px;
  margin-left: 5px;
}

.label.label-editorial {
  background-color: #48a6e9;
}

.label.label-goals {
  background-color: #9a74e0;
}

.label.label-recruiting {
  background-color: #5dc6a8;
}

.label.label-mobile {
  background-color: #ef9d34;
}

.label.label-website {
  background-color: #d5639d;
}

.label.label-sales {
  background-color: #afc72a;
}

/* # HEADER */

.page-header {
  background-color: white;
  line-height: 80px;
}

.page-header > .container > * {
  vertical-align: middle;
  display: inline-block;
}

.menu-link {
  list-style-type: none;
}

.menu-link > li {
  display: inline-block;
}

/* # MAIN */

main {
  margin-top: 100px;
}

.card {
  padding: 20px 40px;
  background-color: white;
  border-radius: 10px;
  color: #333;
}

.task-list-section {
  margin-top: 30px;
}

.task-list-title {
  font-size: 20px;
}

.task-list-title::before {
  content: '\25BE';
  display: inline-block;
  margin-right: 10px;
}

.task-list {
  margin-top: 8px;
  list-style-type: none;
}

.task-list > .task-item {
  line-height: 30px;
}

.task-item > .task-title {
  font-size: 16px;
  font-weight: 500;
}

.task-list > .task-item > * {
  display: inline-block;
  vertical-align: middle;
}

.task-list > .task-item::before {
  border-radius: 50%;
  height: 16px;
  line-height: 16px;
  width: 16px;
  text-align: center;
  border: 1px solid currentColor;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 10px;
}

.task-list > .task-item.task-done::before {
  content: '\2713';
  color: #70caac;
}

.task-list > .task-item.task-undone::before {
  content: '\2A09';
  color: #c85d72;
}
